gen/
out/
networks/
merged/


*~
*.iml
*.exe
*.gv
*.png
*.svg

src/META-INF
.idea/dictionaries
.idea/workspace.xml
.idea/tasks.xml

/log
/*.log
/*.beepp
/*.bee
/*.dimacs
/*.map
/cnf
/*.cnf
/*.bat
/*.jar
/.Rhistory

/*.R
/*.py
/*.txt
